header {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  box-shadow: 0 0 16px 0px transparentize($text-gray, $amount: 0.7);
  background-color: rgba(238, 238, 238, 0.8);
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;

  &.hide-top-headaer,
  &.no-anim {
    background-color: #eeeeee;
    box-shadow: 0 4px 8px 0px transparentize($text-gray, $amount: 0.7);

    .top-header {
      height: 0;
      overflow: hidden;
    }

    nav .logo-container img {
      height: 50px;
    }
  }

  .top-header {
    padding: 0 60px;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    transition: height 0.5s ease-in-out;

    .header-contact,
    .header-socials {
      display: flex;

      li {
        padding: 0 5px;

        span {
          color: $text-gray;
        }
      }
    }

    .header-contact {
      justify-content: space-between;
      width: 60%;
      li {
        span {
          &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            color: $primary-color;
            margin-right: 5px;
          }
          &.header-mail::before {
            content: "\f0e0";
          }
          &.header-phone::before {
            content: "\f879";
          }
          &.header-location::before {
            content: "\f3c5";
          }
        }
      }
    }

    .header-socials {
      li {
        padding: 0 10px;
        i {
          font-size: 22px;
          color: $text-gray;

          &.fa-facebook:hover {
            color: #3b5998;
          }

          &.fa-twitter:hover {
            color: #00acee;
          }

          &.fa-instagram:hover {
            color: #333;
          }

          &.fa-linkedin:hover {
            color: #0e76a8;
          }
        }
      }
    }
  }

  .nav-toggler {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    padding: 5px 60px;
    justify-content: space-between;

    .logo-container {
      // height: ;
      img {
        max-height: 70px;
        height: 70px;
        transition: height 0.5s ease-in-out;
      }
    }

    .nav-items {
      display: flex;
      justify-content: space-between;

      li {
        text-transform: uppercase;
        padding: 0 20px;
        position: relative;

        &:hover {
          .sub-menu {
            display: block;
          }
        }

        .sub-menu {
          display: none;
          width: 150px;
          position: absolute;
          top: 100%;
          left: 0;
          background: #ccc;

          li {
            padding: 10px 15px;

            &:hover {
              background: #aaa;
            }
          }
        }

        &.appointment-nav {
          padding-right: 0;

          a {
            color: $primary-color;
            font-weight: 700;

            &:hover {
              color: $primary-color-dark;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  header {
    .top-header {
      padding: 0 30px;

      .header-contact {
        width: 80%;
      }
    }

    nav {
      padding: 5px 30px;
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    .top-header {
      display: none;
    }

    nav {
      flex-direction: column;
      padding: 15px 30px;

      .nav-items {
        li {
          padding: 0 15px;

          &.appointment-nav {
            padding-right: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  header {
    .nav-toggler {
      display: block;
    }

    nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 7px 0px;

      .nav-toggler {
        grid-column: 2/3;
        justify-self: flex-end;
        padding-right: 15px;

        i {
          font-size: 40px;
          color: $primary-color;
          cursor: pointer;
        }
      }

      .logo-container {
        padding-left: 15px;
        grid-column: 1/2;
      }

      .nav-items {
        grid-column: 1/3;
        width: 100%;
        flex-direction: column;
        // justify-content: center;
        text-align: center;
        overflow-y: auto;
        height: 0px;
        transition: height 0.3s ease-in-out;

        li {
          padding: 10px 0;

          &:hover {
            .sub-menu {
              height: 132px;
            }
          }

          .sub-menu {
            display: block;
            width: 100%;
            position: static;
            height: 0px;
            overflow: hidden;
            transition: height 0.3s ease-in-out;
          }

          &:hover {
            background-color: #aaa;
          }

          &.appointment-nav {
            padding-right: 0px;
          }
        }
      }

      .nav-items-shown {
        height: 270px;
      }
    }
  }
}
