* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: $primary-color;
}

html {
  scroll-behavior: smooth;
}

body {
  @include nunitoReg;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  @include montserratMedium;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: none;
    color: $primary-color;
  }
}

button {
  @include nunitoReg;
  font-size: 20px;
  outline: transparent;
}

.primary-button {
  @include nunitoReg;
  font-size: 20px;
  border: none;
  cursor: pointer;
  padding: 12px 25px;
  background-color: $primary-color;
  text-transform: capitalize;
  border-radius: 5px;
  color: $text-light;

  a {
    color: $text-light;
  }

  &:hover {
    background-color: $primary-color-dark;
    color: $text-light;
  }
}

.secondary-button {
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid $primary-color;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  color: $primary-color;
  cursor: pointer;

  a {
    color: $primary-color;
  }

  &:hover {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
    color: $text-light;

    a {
      color: $text-light;
    }
  }
}

// section:nth-child(even) {
//   background-color: #f5f5f5;
// }

section {
  padding: $section-padding;
}

.section-title {
  @include montserratMedium;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.section-desc {
  padding: 15px 0 30px 0;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  section {
    padding: 15px 30px;
  }
  .section-desc {
    width: 100%;
  }
}

@media only screen and (max-width: 501px) {
  section {
    padding: 15px 15px;
  }
}
