@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Nunito:300,400,400i,700|Roboto:900&display=swap");
/* line 1, ../sass/base/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: #804097;
}

/* line 8, ../sass/base/_base.scss */
html {
  scroll-behavior: smooth;
}

/* line 12, ../sass/base/_base.scss */
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* line 17, ../sass/base/_base.scss */
ul {
  list-style-type: none;
}

/* line 21, ../sass/base/_base.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* line 29, ../sass/base/_base.scss */
a {
  text-decoration: none;
  color: #000;
}
/* line 33, ../sass/base/_base.scss */
a:hover {
  text-decoration: none;
  color: #804097;
}

/* line 39, ../sass/base/_base.scss */
button {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  outline: transparent;
}

/* line 45, ../sass/base/_base.scss */
label {
  text-transform: capitalize;
  font-weight: 400;
}

/* line 50, ../sass/base/_base.scss */
.primary-button {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  border: none;
  cursor: pointer;
  padding: 12px 25px;
  background-color: #804097;
  text-transform: capitalize;
  border-radius: 5px;
  color: #fff;
}
/* line 61, ../sass/base/_base.scss */
.primary-button a {
  color: #fff;
}
/* line 65, ../sass/base/_base.scss */
.primary-button:hover {
  background-color: #623173;
  color: #fff;
}

/* line 71, ../sass/base/_base.scss */
.secondary-button {
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid #804097;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  color: #804097;
  cursor: pointer;
}
/* line 81, ../sass/base/_base.scss */
.secondary-button a {
  color: #804097;
}
/* line 85, ../sass/base/_base.scss */
.secondary-button:hover {
  background-color: #623173;
  border-color: #623173;
  color: #fff;
}
/* line 90, ../sass/base/_base.scss */
.secondary-button:hover a {
  color: #fff;
}

/* line 100, ../sass/base/_base.scss */
section {
  padding: 30px 60px;
}

/* line 104, ../sass/base/_base.scss */
.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 15px;
}

/* line 112, ../sass/base/_base.scss */
.section-desc {
  padding: 15px 0 30px 0;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  /* line 120, ../sass/base/_base.scss */
  section {
    padding: 15px 30px;
  }

  /* line 123, ../sass/base/_base.scss */
  .section-desc {
    width: 100%;
  }
}
@media only screen and (max-width: 501px) {
  /* line 129, ../sass/base/_base.scss */
  section {
    padding: 15px 15px;
  }
}
/* line 1, ../sass/modules/landingPage/_header.scss */
header {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  box-shadow: 0 0 16px 0px rgba(119, 119, 119, 0.3);
  background-color: rgba(238, 238, 238, 0.8);
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
/* line 10, ../sass/modules/landingPage/_header.scss */
header.hide-top-headaer, header.no-anim {
  background-color: #eeeeee;
  box-shadow: 0 4px 8px 0px rgba(119, 119, 119, 0.3);
}
/* line 15, ../sass/modules/landingPage/_header.scss */
header.hide-top-headaer .top-header, header.no-anim .top-header {
  height: 0;
  overflow: hidden;
}
/* line 20, ../sass/modules/landingPage/_header.scss */
header.hide-top-headaer nav .logo-container img, header.no-anim nav .logo-container img {
  height: 50px;
}
/* line 25, ../sass/modules/landingPage/_header.scss */
header .top-header {
  padding: 0 60px;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  transition: height 0.5s ease-in-out;
}
/* line 34, ../sass/modules/landingPage/_header.scss */
header .top-header .header-contact,
header .top-header .header-socials {
  display: flex;
}
/* line 38, ../sass/modules/landingPage/_header.scss */
header .top-header .header-contact li,
header .top-header .header-socials li {
  padding: 0 5px;
}
/* line 41, ../sass/modules/landingPage/_header.scss */
header .top-header .header-contact li span,
header .top-header .header-socials li span {
  color: #777;
}
/* line 47, ../sass/modules/landingPage/_header.scss */
header .top-header .header-contact {
  justify-content: space-between;
  width: 60%;
}
/* line 52, ../sass/modules/landingPage/_header.scss */
header .top-header .header-contact li span::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #804097;
  margin-right: 5px;
}
/* line 58, ../sass/modules/landingPage/_header.scss */
header .top-header .header-contact li span.header-mail::before {
  content: "\f0e0";
}
/* line 61, ../sass/modules/landingPage/_header.scss */
header .top-header .header-contact li span.header-phone::before {
  content: "\f879";
}
/* line 64, ../sass/modules/landingPage/_header.scss */
header .top-header .header-contact li span.header-location::before {
  content: "\f3c5";
}
/* line 72, ../sass/modules/landingPage/_header.scss */
header .top-header .header-socials li {
  padding: 0 10px;
}
/* line 74, ../sass/modules/landingPage/_header.scss */
header .top-header .header-socials li i {
  font-size: 22px;
  color: #777;
}
/* line 78, ../sass/modules/landingPage/_header.scss */
header .top-header .header-socials li i.fa-facebook:hover {
  color: #3b5998;
}
/* line 82, ../sass/modules/landingPage/_header.scss */
header .top-header .header-socials li i.fa-twitter:hover {
  color: #00acee;
}
/* line 86, ../sass/modules/landingPage/_header.scss */
header .top-header .header-socials li i.fa-instagram:hover {
  color: #333;
}
/* line 90, ../sass/modules/landingPage/_header.scss */
header .top-header .header-socials li i.fa-linkedin:hover {
  color: #0e76a8;
}
/* line 98, ../sass/modules/landingPage/_header.scss */
header .nav-toggler {
  display: none;
}
/* line 102, ../sass/modules/landingPage/_header.scss */
header nav {
  display: flex;
  align-items: center;
  padding: 5px 60px;
  justify-content: space-between;
}
/* line 110, ../sass/modules/landingPage/_header.scss */
header nav .logo-container img {
  max-height: 70px;
  height: 70px;
  transition: height 0.5s ease-in-out;
}
/* line 117, ../sass/modules/landingPage/_header.scss */
header nav .nav-items {
  display: flex;
  justify-content: space-between;
}
/* line 120, ../sass/modules/landingPage/_header.scss */
header nav .nav-items li {
  text-transform: uppercase;
  padding: 0 20px;
}
/* line 124, ../sass/modules/landingPage/_header.scss */
header nav .nav-items li.appointment-nav {
  padding-right: 0;
}
/* line 127, ../sass/modules/landingPage/_header.scss */
header nav .nav-items li.appointment-nav a {
  color: #804097;
  font-weight: 700;
}
/* line 131, ../sass/modules/landingPage/_header.scss */
header nav .nav-items li.appointment-nav a:hover {
  color: #623173;
}

@media only screen and (max-width: 1024px) {
  /* line 143, ../sass/modules/landingPage/_header.scss */
  header .top-header {
    padding: 0 30px;
  }
  /* line 146, ../sass/modules/landingPage/_header.scss */
  header .top-header .header-contact {
    width: 80%;
  }
  /* line 151, ../sass/modules/landingPage/_header.scss */
  header nav {
    padding: 5px 30px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 159, ../sass/modules/landingPage/_header.scss */
  header .top-header {
    display: none;
  }
  /* line 163, ../sass/modules/landingPage/_header.scss */
  header nav {
    flex-direction: column;
    padding: 15px 30px;
  }
  /* line 168, ../sass/modules/landingPage/_header.scss */
  header nav .nav-items li {
    padding: 0 15px;
  }
  /* line 171, ../sass/modules/landingPage/_header.scss */
  header nav .nav-items li.appointment-nav {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 182, ../sass/modules/landingPage/_header.scss */
  header .nav-toggler {
    display: block;
  }
  /* line 186, ../sass/modules/landingPage/_header.scss */
  header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7px 0px;
  }
  /* line 191, ../sass/modules/landingPage/_header.scss */
  header nav .nav-toggler {
    grid-column: 2/3;
    justify-self: flex-end;
    padding-right: 15px;
  }
  /* line 196, ../sass/modules/landingPage/_header.scss */
  header nav .nav-toggler i {
    font-size: 40px;
    color: #804097;
    cursor: pointer;
  }
  /* line 203, ../sass/modules/landingPage/_header.scss */
  header nav .logo-container {
    padding-left: 15px;
    grid-column: 1/2;
  }
  /* line 208, ../sass/modules/landingPage/_header.scss */
  header nav .nav-items {
    grid-column: 1/3;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    height: 0px;
    transition: height 0.3s ease-in-out;
  }
  /* line 218, ../sass/modules/landingPage/_header.scss */
  header nav .nav-items li {
    padding: 10px 0;
  }
  /* line 221, ../sass/modules/landingPage/_header.scss */
  header nav .nav-items li:hover {
    background-color: #aaa;
  }
  /* line 225, ../sass/modules/landingPage/_header.scss */
  header nav .nav-items li.appointment-nav {
    padding-right: 0px;
  }
  /* line 231, ../sass/modules/landingPage/_header.scss */
  header nav .nav-items-shown {
    height: 270px;
  }
}
/* line 1, ../sass/modules/landingPage/_banner.scss */
.banner {
  height: 100vh;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  position: relative;
  padding: 0;
}
/* line 10, ../sass/modules/landingPage/_banner.scss */
.banner .banner-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* line 17, ../sass/modules/landingPage/_banner.scss */
.banner .slogan-container {
  position: absolute;
  top: 55%;
  left: 10%;
  z-index: 1;
  backdrop-filter: blur(7px) brightness(110%);
  width: 550px;
  padding: 25px 30px;
  transform: translateY(-50%);
  border-radius: 4px;
}
/* line 28, ../sass/modules/landingPage/_banner.scss */
.banner .slogan-container .banner-slogan {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.26);
}
/* line 37, ../sass/modules/landingPage/_banner.scss */
.banner .button-container {
  position: absolute;
  bottom: 20px;
  right: 60px;
  z-index: 1;
}
/* line 43, ../sass/modules/landingPage/_banner.scss */
.banner .button-container button {
  height: 60px;
  width: 60px;
  background-color: rgba(128, 64, 151, 0.5);
  border: 4px solid #804097;
  border-radius: 50%;
  margin: 0 5px;
  padding: 15px;
  cursor: pointer;
}
/* line 53, ../sass/modules/landingPage/_banner.scss */
.banner .button-container button img {
  height: 100%;
  width: 100%;
}
/* line 58, ../sass/modules/landingPage/_banner.scss */
.banner .button-container button:hover {
  background-color: #804097;
}

@media only screen and (max-width: 1024px) {
  /* line 67, ../sass/modules/landingPage/_banner.scss */
  .banner .button-container {
    right: 30px;
    bottom: 30px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 76, ../sass/modules/landingPage/_banner.scss */
  .banner .slogan-container {
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* line 81, ../sass/modules/landingPage/_banner.scss */
  .banner .slogan-container .banner-slogan {
    font-size: 40px;
  }
  /* line 86, ../sass/modules/landingPage/_banner.scss */
  .banner .button-container {
    right: 50%;
    transform: translateX(50%);
  }
}
/* line 1, ../sass/modules/landingPage/_about.scss */
.about {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  align-items: center;
}
/* line 7, ../sass/modules/landingPage/_about.scss */
.about .about-img {
  grid-column: 1/2;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 500px;
}
/* line 14, ../sass/modules/landingPage/_about.scss */
.about .about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* line 22, ../sass/modules/landingPage/_about.scss */
.about .about-desc-container {
  grid-column: 3/4;
}
/* line 25, ../sass/modules/landingPage/_about.scss */
.about .about-desc-container .about-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 38px;
  display: inline-block;
  width: 425px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
/* line 34, ../sass/modules/landingPage/_about.scss */
.about .about-desc-container p {
  padding: 15px 0;
}
/* line 38, ../sass/modules/landingPage/_about.scss */
.about .about-desc-container .p1 {
  font-size: 20px;
  color: #804097;
}
/* line 43, ../sass/modules/landingPage/_about.scss */
.about .about-desc-container .p2 {
  font-size: 18px;
}
/* line 48, ../sass/modules/landingPage/_about.scss */
.about .about-desc-container .button-container {
  margin: 15px 0;
}
/* line 51, ../sass/modules/landingPage/_about.scss */
.about .about-desc-container .button-container .secondary-button a::after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 24px;
  margin: 5px 0 0 5px;
}

@media only screen and (max-width: 1024px) {
  /* line 64, ../sass/modules/landingPage/_about.scss */
  .about {
    margin-top: 15px;
  }
  /* line 67, ../sass/modules/landingPage/_about.scss */
  .about .about-img {
    grid-column: 1/4;
    margin-bottom: 15px;
  }
  /* line 72, ../sass/modules/landingPage/_about.scss */
  .about .about-desc-container {
    grid-column: 1/4;
  }
  /* line 75, ../sass/modules/landingPage/_about.scss */
  .about .about-desc-container .about-heading {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 84, ../sass/modules/landingPage/_about.scss */
  .about .about-img {
    height: 300px;
  }
}
/* line 2, ../sass/modules/landingPage/_services.scss */
.services .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  justify-content: space-between;
  margin: 25px 0 40px 0;
}
/* line 8, ../sass/modules/landingPage/_services.scss */
.services .grid-wrapper .grid-card {
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
/* line 13, ../sass/modules/landingPage/_services.scss */
.services .grid-wrapper .grid-card .grid-img-container {
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 19, ../sass/modules/landingPage/_services.scss */
.services .grid-wrapper .grid-card .grid-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* line 27, ../sass/modules/landingPage/_services.scss */
.services .grid-wrapper .grid-card .grid-card-label {
  font-weight: 700;
}
/* line 31, ../sass/modules/landingPage/_services.scss */
.services .grid-wrapper .grid-card:hover {
  transform: translateY(-10px);
}
/* line 37, ../sass/modules/landingPage/_services.scss */
.services .button-container {
  text-align: center;
}
/* line 40, ../sass/modules/landingPage/_services.scss */
.services .button-container .secondary-button a::after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 24px;
  margin: 5px 0 0 5px;
}

@media only screen and (max-width: 768px) {
  /* line 53, ../sass/modules/landingPage/_services.scss */
  .services .grid-wrapper {
    grid-template-columns: repeat(2, calc(50% - 15px));
    margin: 15px 0;
  }
  /* line 57, ../sass/modules/landingPage/_services.scss */
  .services .grid-wrapper .grid-card {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 65, ../sass/modules/landingPage/_services.scss */
  .services .grid-wrapper {
    grid-template-columns: 1fr;
  }
}
/* line 1, ../sass/modules/landingPage/_doctors.scss */
.doctors {
  text-align: center;
}
/* line 4, ../sass/modules/landingPage/_doctors.scss */
.doctors .grid-wrapper {
  width: 100%;
}
/* line 8, ../sass/modules/landingPage/_doctors.scss */
.doctors .grid-wrapper .grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
/* line 15, ../sass/modules/landingPage/_doctors.scss */
.doctors .grid-wrapper .grid-card .grid-img-container {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
}
/* line 21, ../sass/modules/landingPage/_doctors.scss */
.doctors .grid-wrapper .grid-card .grid-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease-in-out;
}
/* line 30, ../sass/modules/landingPage/_doctors.scss */
.doctors .grid-wrapper .grid-card:hover {
  transform: translateY(0px);
}
/* line 33, ../sass/modules/landingPage/_doctors.scss */
.doctors .grid-wrapper .grid-card:hover img {
  transform: scale(1.09);
}
/* line 39, ../sass/modules/landingPage/_doctors.scss */
.doctors .grid-wrapper .grid-card .grid-card-label .doctor-name {
  font-size: 22px;
}
/* line 43, ../sass/modules/landingPage/_doctors.scss */
.doctors .grid-wrapper .grid-card .grid-card-label .doctor-post {
  font-weight: 300;
  font-size: 16px;
  color: #804097;
}
/* line 52, ../sass/modules/landingPage/_doctors.scss */
.doctors .button-container button {
  width: 40px;
  height: 40px;
  background: #804097;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin: 0 3px;
}
/* line 61, ../sass/modules/landingPage/_doctors.scss */
.doctors .button-container button:hover {
  background-color: #623173;
}

/* line 1, ../sass/modules/landingPage/_testimonials.scss */
.testimonials {
  text-align: center;
}
/* line 4, ../sass/modules/landingPage/_testimonials.scss */
.testimonials .wrapper {
  margin: 40px auto 30px auto;
  width: 60%;
}
/* line 10, ../sass/modules/landingPage/_testimonials.scss */
.testimonials .wrapper .content {
  margin: 15px 0;
}
/* line 13, ../sass/modules/landingPage/_testimonials.scss */
.testimonials .wrapper .content::before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 48px;
  color: rgba(128, 64, 151, 0.5);
}
/* line 24, ../sass/modules/landingPage/_testimonials.scss */
.testimonials .wrapper p {
  margin: 15px 0;
  line-height: 30px;
  font-size: 20px;
}
/* line 30, ../sass/modules/landingPage/_testimonials.scss */
.testimonials .wrapper .name {
  color: #804097;
}
/* line 33, ../sass/modules/landingPage/_testimonials.scss */
.testimonials .wrapper .name::before {
  content: "-";
  margin: 0 3px;
  font-weight: 700;
  font-size: 22px;
  color: #804097;
}
/* line 43, ../sass/modules/landingPage/_testimonials.scss */
.testimonials .profile {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px auto;
}
/* line 50, ../sass/modules/landingPage/_testimonials.scss */
.testimonials .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* line 58, ../sass/modules/landingPage/_testimonials.scss */
.testimonials .owl-custom-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 64, ../sass/modules/landingPage/_testimonials.scss */
.testimonials .owl-dot {
  margin: 0 3px;
  height: 15px;
  width: 15px;
  background-color: rgba(128, 64, 151, 0.3);
  cursor: pointer;
  border-radius: 50%;
}
/* line 73, ../sass/modules/landingPage/_testimonials.scss */
.testimonials .owl-dot.active {
  height: 20px;
  width: 20px;
  background-color: #804097;
}

@media only screen and (max-width: 768px) {
  /* line 83, ../sass/modules/landingPage/_testimonials.scss */
  .testimonials .wrapper {
    width: 80%;
    margin: 20px auto 30px auto;
  }
}
@media only screen and (max-width: 500px) {
  /* line 92, ../sass/modules/landingPage/_testimonials.scss */
  .testimonials .wrapper {
    width: 100%;
  }
}
/* line 2, ../sass/modules/landingPage/_smile.scss */
.smile-gallery .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* line 7, ../sass/modules/landingPage/_smile.scss */
.smile-gallery .wrapper .grid-item .img-container-wrapper {
  width: 80%;
  margin: auto;
  padding: 15px 0;
}
/* line 12, ../sass/modules/landingPage/_smile.scss */
.smile-gallery .wrapper .grid-item .img-container-wrapper:hover .img-container::before {
  transform: translate(0);
}
/* line 16, ../sass/modules/landingPage/_smile.scss */
.smile-gallery .wrapper .grid-item .img-container-wrapper .img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}
/* line 23, ../sass/modules/landingPage/_smile.scss */
.smile-gallery .wrapper .grid-item .img-container-wrapper .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* line 30, ../sass/modules/landingPage/_smile.scss */
.smile-gallery .wrapper .grid-item .img-container-wrapper .img-container:before {
  content: attr(data-overlay);
  position: absolute;
  bottom: 0;
  padding: 15px 30px;
  background: rgba(128, 64, 151, 0.6);
  border-radius: 0 4px 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
  transform: translate(-100%, 100%);
  transition: transform 0.5s ease-in-out;
}

@media only screen and (max-width: 768px) {
  /* line 54, ../sass/modules/landingPage/_smile.scss */
  .smile-gallery .wrapper .grid-item .img-container-wrapper {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
  }
  /* line 60, ../sass/modules/landingPage/_smile.scss */
  .smile-gallery .wrapper .grid-item .img-container-wrapper .img-container {
    width: calc(50% - 7.5px);
  }
  /* line 63, ../sass/modules/landingPage/_smile.scss */
  .smile-gallery .wrapper .grid-item .img-container-wrapper .img-container::before {
    transform: translate(0);
  }
  /* line 69, ../sass/modules/landingPage/_smile.scss */
  .smile-gallery .wrapper .grid-item.grid-item-1 {
    grid-column: 1/3;
  }
  /* line 73, ../sass/modules/landingPage/_smile.scss */
  .smile-gallery .wrapper .grid-item.grid-item-2 {
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 500px) {
  /* line 83, ../sass/modules/landingPage/_smile.scss */
  .smile-gallery .wrapper .grid-item .img-container-wrapper {
    display: block;
  }
  /* line 86, ../sass/modules/landingPage/_smile.scss */
  .smile-gallery .wrapper .grid-item .img-container-wrapper .img-container {
    width: 100%;
  }
}
/* line 2, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 50px;
  justify-items: center;
}
/* line 9, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form {
  grid-column: 3/4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
}
/* line 16, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .input-grp {
  width: calc(50% - 15px);
  margin-bottom: 20px;
  position: relative;
}
/* line 21, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .input-grp label,
.contact .wrapper .contact-form .input-grp input {
  display: block;
}
/* line 26, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .input-grp input,
.contact .wrapper .contact-form .input-grp textarea {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  margin-top: 5px;
  width: 100%;
  height: 45px;
  padding: 0 10px;
  font-size: 18px;
  border: 1px solid #804097;
  border-radius: 3px;
  background: transparent;
}
/* line 38, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .input-grp.textarea {
  width: 100%;
}
/* line 41, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .input-grp.textarea textarea {
  height: 150px;
  resize: vertical;
  padding: 10px;
}
/* line 48, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .input-grp span {
  width: 100%;
  height: 45px;
}
/* line 52, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .input-grp span input {
  padding-right: 35px;
}
/* line 56, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .input-grp span:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #804097;
  font-size: 20px;
  position: absolute;
  top: calc(50% + 3px);
  right: 10px;
}
/* line 66, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .input-grp span.first-name::after, .contact .wrapper .contact-form .input-grp span.last-name::after {
  content: "\f007";
}
/* line 71, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .input-grp span.email::after {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
}
/* line 75, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .input-grp span.contact-no::after {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
}
/* line 83, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 89, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .button-container button {
  width: 30%;
  padding: 10px 0;
}
/* line 94, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .button-container a {
  color: #804097;
}
/* line 97, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .button-container a:hover {
  color: #623173;
}
/* line 100, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .button-container a:hover::after {
  margin: 0 0 0 10px;
}
/* line 105, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-form .button-container a:after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin: 0 5px;
  transition: margin 0.3s ease-in-out;
}
/* line 116, ../sass/modules/landingPage/_contact.scss */
.contact .wrapper .contact-info {
  background-color: #eee;
}

@media only screen and (max-width: 1024px) {
  /* line 126, ../sass/modules/landingPage/_contact.scss */
  .contact .wrapper .contact-form {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 135, ../sass/modules/landingPage/_contact.scss */
  .contact .wrapper {
    padding: 0 20px;
  }
  /* line 138, ../sass/modules/landingPage/_contact.scss */
  .contact .wrapper .contact-form .input-grp {
    width: 100%;
  }
  /* line 142, ../sass/modules/landingPage/_contact.scss */
  .contact .wrapper .contact-form .button-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 146, ../sass/modules/landingPage/_contact.scss */
  .contact .wrapper .contact-form .button-container button {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* line 1, ../sass/modules/landingPage/_footer.scss */
footer {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  margin-top: 30px;
  padding-top: 15px;
  background-color: #35366a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
/* line 15, ../sass/modules/landingPage/_footer.scss */
footer a {
  color: #fff;
}
/* line 17, ../sass/modules/landingPage/_footer.scss */
footer a:hover {
  color: #fff;
  text-decoration: underline;
}
/* line 23, ../sass/modules/landingPage/_footer.scss */
footer .page-nav {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 30px;
  width: 60%;
}
/* line 32, ../sass/modules/landingPage/_footer.scss */
footer .page-nav li {
  padding: 0 15px;
  text-transform: capitalize;
}
/* line 38, ../sass/modules/landingPage/_footer.scss */
footer .info-footer {
  padding-bottom: 30px;
}
/* line 41, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .company-name {
  font-size: 22px;
}
/* line 43, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .company-name:hover {
  text-decoration: none;
}
/* line 48, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .contact-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
/* line 54, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .contact-footer li {
  padding: 0 15px;
  font-size: 16px;
}
/* line 58, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .contact-footer li:last-child, footer .info-footer .contact-footer li:nth-child(2) {
  border-left: 1px solid #fff;
}
/* line 63, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .contact-footer li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 14px;
  margin-right: 7px;
}
/* line 70, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .contact-footer li.footer-email:before {
  content: "\f0e0";
}
/* line 74, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .contact-footer li.footer-phone:before {
  content: "\f879";
}
/* line 78, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .contact-footer li.footer-location:before {
  content: "\f3c5";
}
/* line 84, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .opening-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
/* line 90, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .opening-info .footer-opening-hrs {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  margin-right: 15px;
}
/* line 95, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .opening-info .opening-time {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
/* line 99, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .opening-info .opening-time span {
  padding: 0 5px;
}
/* line 105, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  width: auto;
  margin-right: 7px;
}
/* line 112, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .footer-socials li {
  padding: 0 10px;
}
/* line 118, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .footer-socials li i.fa-facebook:hover {
  color: #3b5998;
}
/* line 122, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .footer-socials li i.fa-twitter:hover {
  color: #00acee;
}
/* line 126, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .footer-socials li i.fa-instagram:hover {
  color: #333;
}
/* line 130, ../sass/modules/landingPage/_footer.scss */
footer .info-footer .footer-socials li i.fa-linkedin:hover {
  color: #0e76a8;
}
/* line 138, ../sass/modules/landingPage/_footer.scss */
footer .copy-right {
  padding: 20px 0;
  text-align: center;
  width: 100%;
  background: #242548;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  /* line 149, ../sass/modules/landingPage/_footer.scss */
  footer .page-nav {
    width: 75%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 157, ../sass/modules/landingPage/_footer.scss */
  footer .page-nav {
    padding-top: 20px;
    width: 100%;
    flex-wrap: wrap;
  }
  /* line 162, ../sass/modules/landingPage/_footer.scss */
  footer .page-nav li {
    margin-bottom: 5px;
  }
  /* line 168, ../sass/modules/landingPage/_footer.scss */
  footer .info-footer .contact-footer {
    flex-wrap: wrap;
  }
  /* line 171, ../sass/modules/landingPage/_footer.scss */
  footer .info-footer .contact-footer li {
    margin-bottom: 5px;
    padding: 0 7px;
  }
  /* line 174, ../sass/modules/landingPage/_footer.scss */
  footer .info-footer .contact-footer li:last-child, footer .info-footer .contact-footer li:nth-child(2) {
    border-left: none;
  }
}
/* line 1, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper {
  padding-top: 100px;
}
/* line 4, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container {
  padding-top: 30px;
}
/* line 7, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container h3 {
  text-align: center;
  color: #804097;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 14, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 20, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  position: relative;
}
/* line 25, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp.half-width {
  width: calc(50% - 10px);
}
/* line 29, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp input,
.appointment-wrapper .appointment-form-container .appointment-form .input-grp textarea,
.appointment-wrapper .appointment-form-container .appointment-form .input-grp select {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  margin-top: 5px;
  width: 100%;
  height: 45px;
  padding: 0 10px;
  font-size: 18px;
  border: 1px solid #804097;
  border-radius: 3px;
  background: transparent;
}
/* line 43, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp.visit-reason {
  width: 100%;
}
/* line 47, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp.textarea {
  width: 100%;
}
/* line 50, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp.textarea textarea {
  height: 139px;
  resize: none;
  padding: 10px;
}
/* line 57, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp span {
  width: 100%;
  height: 45px;
}
/* line 61, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp span input,
.appointment-wrapper .appointment-form-container .appointment-form .input-grp span select {
  padding-right: 35px;
}
/* line 66, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp span select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* line 71, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp span:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #804097;
  font-size: 20px;
  position: absolute;
  top: calc(50% + 3px);
  right: 10px;
}
/* line 81, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp span.first-name::after, .appointment-wrapper .appointment-form-container .appointment-form .input-grp span.last-name::after {
  content: "\f007";
}
/* line 86, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp span.email::after {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
}
/* line 90, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp span.phone::after {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
}
/* line 95, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp span.date::after {
  content: "\f073";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
/* line 100, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .input-grp span.time::after {
  content: "\f017";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
/* line 108, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
/* line 115, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .button-container {
  grid-column: 1/3;
  text-align: center;
}
/* line 119, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .button-container button {
  width: 50%;
  margin-bottom: 15px;
  text-transform: uppercase;
}
/* line 124, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .button-container a {
  color: #804097;
  display: block;
}
/* line 128, ../sass/modules/_appointmentPage.scss */
.appointment-wrapper .appointment-form-container .appointment-form .button-container a:hover {
  color: #623173;
}

@media only screen and (max-width: 768px) {
  /* line 139, ../sass/modules/_appointmentPage.scss */
  .appointment-wrapper .appointment-form-container .appointment-form .input-grp {
    width: 100%;
  }
  /* line 143, ../sass/modules/_appointmentPage.scss */
  .appointment-wrapper .appointment-form-container .appointment-form .wrapper {
    grid-column: 1/3;
  }
  /* line 148, ../sass/modules/_appointmentPage.scss */
  .appointment-wrapper .appointment-form-container .appointment-form .button-container button {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 157, ../sass/modules/_appointmentPage.scss */
  .appointment-wrapper .appointment-form-container .appointment-form .input-grp {
    width: 100%;
  }
  /* line 160, ../sass/modules/_appointmentPage.scss */
  .appointment-wrapper .appointment-form-container .appointment-form .input-grp.half-width {
    width: 100%;
  }
  /* line 165, ../sass/modules/_appointmentPage.scss */
  .appointment-wrapper .appointment-form-container .appointment-form .wrapper {
    grid-column: 1/3;
  }
}
/* line 1, ../sass/modules/aboutPage/_aboutUs.scss */
.about-banner {
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* line 9, ../sass/modules/aboutPage/_aboutUs.scss */
.sec-about .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}
/* line 18, ../sass/modules/aboutPage/_aboutUs.scss */
.sec-about .wrapper .sub-content {
  margin-bottom: 30px;
}
/* line 22, ../sass/modules/aboutPage/_aboutUs.scss */
.sec-about .wrapper .sub-title {
  border-left: 3px solid #804097;
  padding: 5px 15px;
}
/* line 26, ../sass/modules/aboutPage/_aboutUs.scss */
.sec-about .wrapper p {
  text-align: justify;
  margin-top: 20px;
}
/* line 30, ../sass/modules/aboutPage/_aboutUs.scss */
.sec-about .wrapper p em {
  color: #9c54b6;
}
/* line 36, ../sass/modules/aboutPage/_aboutUs.scss */
.sec-about .about-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 41, ../sass/modules/aboutPage/_aboutUs.scss */
.sec-about .about-img-container .img-container {
  height: 400px;
  width: calc(50% - 15px);
  overflow: hidden;
}
/* line 47, ../sass/modules/aboutPage/_aboutUs.scss */
.sec-about .about-img-container img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  /* line 59, ../sass/modules/aboutPage/_aboutUs.scss */
  .sec-about .wrapper .about-content {
    grid-column: 1/3;
  }
  /* line 63, ../sass/modules/aboutPage/_aboutUs.scss */
  .sec-about .wrapper .mission-content {
    grid-column: 1/3;
  }
  /* line 69, ../sass/modules/aboutPage/_aboutUs.scss */
  .sec-about .about-img-container .img-container {
    width: 100%;
    height: 50vw;
    margin-bottom: 15px;
  }
}
/* line 1, ../sass/modules/aboutPage/_whyUs.scss */
.why-us {
  background-color: #eee;
}
/* line 3, ../sass/modules/aboutPage/_whyUs.scss */
.why-us .wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 8, ../sass/modules/aboutPage/_whyUs.scss */
.why-us .wrapper .grid-item {
  width: 200px;
  margin: 30px;
  margin-bottom: 0;
}
/* line 14, ../sass/modules/aboutPage/_whyUs.scss */
.why-us .wrapper .thumb {
  width: 100%;
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 25, ../sass/modules/aboutPage/_whyUs.scss */
.why-us .wrapper .thumb i {
  font-size: 60px;
  color: #804097;
}
/* line 31, ../sass/modules/aboutPage/_whyUs.scss */
.why-us .wrapper .caption {
  text-align: center;
  margin-top: 15px;
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  /* line 42, ../sass/modules/aboutPage/_whyUs.scss */
  .why-us .wrapper .grid-item {
    margin: 30px 15px;
  }
}
