@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Nunito:300,400,400i,700|Roboto:900&display=swap");
/* line 1, ../sass/base/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, ../sass/base/_base.scss */
html {
  scroll-behavior: smooth;
}

/* line 11, ../sass/base/_base.scss */
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* line 16, ../sass/base/_base.scss */
ul {
  list-style-type: none;
}

/* line 20, ../sass/base/_base.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* line 28, ../sass/base/_base.scss */
a {
  text-decoration: none;
  color: #000;
}
/* line 32, ../sass/base/_base.scss */
a:hover {
  text-decoration: none;
  color: #804097;
}

/* line 38, ../sass/base/_base.scss */
button {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  outline: transparent;
}

/* line 44, ../sass/base/_base.scss */
.primary-button {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  border: none;
  cursor: pointer;
  padding: 12px 25px;
  background-color: #804097;
  text-transform: capitalize;
  border-radius: 5px;
  color: #fff;
}
/* line 55, ../sass/base/_base.scss */
.primary-button a {
  color: #fff;
}
/* line 59, ../sass/base/_base.scss */
.primary-button:hover {
  background-color: #623173;
  color: #fff;
}

/* line 65, ../sass/base/_base.scss */
.secondary-button {
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid #804097;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  color: #804097;
  cursor: pointer;
}
/* line 75, ../sass/base/_base.scss */
.secondary-button a {
  color: #804097;
}
/* line 79, ../sass/base/_base.scss */
.secondary-button:hover {
  background-color: #623173;
  border-color: #623173;
  color: #fff;
}
/* line 84, ../sass/base/_base.scss */
.secondary-button:hover a {
  color: #fff;
}

/* line 90, ../sass/base/_base.scss */
section:nth-child(even) {
  background-color: #f5f5f5;
}

/* line 94, ../sass/base/_base.scss */
.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 15px;
}

/* line 102, ../sass/base/_base.scss */
.section-desc {
  padding: 15px 0 30px 0;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

/* line 1, ../sass/modules/_header.scss */
header {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.8);
}
/* line 10, ../sass/modules/_header.scss */
header .top-header {
  padding: 0 60px;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
/* line 18, ../sass/modules/_header.scss */
header .top-header .header-contact,
header .top-header .header-socials {
  display: flex;
}
/* line 22, ../sass/modules/_header.scss */
header .top-header .header-contact li,
header .top-header .header-socials li {
  padding: 0 5px;
}
/* line 25, ../sass/modules/_header.scss */
header .top-header .header-contact li span,
header .top-header .header-socials li span {
  color: #777;
}
/* line 31, ../sass/modules/_header.scss */
header .top-header .header-contact {
  justify-content: space-between;
  width: 60%;
}
/* line 36, ../sass/modules/_header.scss */
header .top-header .header-contact li span::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #804097;
  margin-right: 5px;
}
/* line 42, ../sass/modules/_header.scss */
header .top-header .header-contact li span.header-mail::before {
  content: "\f0e0";
}
/* line 45, ../sass/modules/_header.scss */
header .top-header .header-contact li span.header-phone::before {
  content: "\f879";
}
/* line 48, ../sass/modules/_header.scss */
header .top-header .header-contact li span.header-location::before {
  content: "\f3c5";
}
/* line 56, ../sass/modules/_header.scss */
header .top-header .header-socials li {
  padding: 0 10px;
}
/* line 58, ../sass/modules/_header.scss */
header .top-header .header-socials li i {
  font-size: 22px;
  color: #777;
}
/* line 62, ../sass/modules/_header.scss */
header .top-header .header-socials li i.fa-facebook:hover {
  color: #3b5998;
}
/* line 66, ../sass/modules/_header.scss */
header .top-header .header-socials li i.fa-twitter:hover {
  color: #00acee;
}
/* line 70, ../sass/modules/_header.scss */
header .top-header .header-socials li i.fa-instagram:hover {
  color: #333;
}
/* line 74, ../sass/modules/_header.scss */
header .top-header .header-socials li i.fa-linkedin:hover {
  color: #0e76a8;
}
/* line 82, ../sass/modules/_header.scss */
header nav {
  display: flex;
  align-items: center;
  padding: 5px 60px;
  justify-content: space-between;
}
/* line 90, ../sass/modules/_header.scss */
header nav .logo-container img {
  max-height: 70px;
  height: 50px;
}
/* line 96, ../sass/modules/_header.scss */
header nav .nav-items {
  display: flex;
  justify-content: space-between;
}
/* line 99, ../sass/modules/_header.scss */
header nav .nav-items li {
  text-transform: uppercase;
  padding: 0 20px;
}

/* line 1, ../sass/modules/_banner.scss */
.banner {
  height: 100vh;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  position: relative;
}
/* line 9, ../sass/modules/_banner.scss */
.banner .banner-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* line 16, ../sass/modules/_banner.scss */
.banner .slogan-container {
  position: absolute;
  top: 55%;
  left: 10%;
  z-index: 1;
  backdrop-filter: blur(7px) brightness(110%);
  width: 550px;
  padding: 25px 30px;
  transform: translateY(-50%);
  border-radius: 4px;
}
/* line 27, ../sass/modules/_banner.scss */
.banner .slogan-container .banner-slogan {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.26);
}
/* line 36, ../sass/modules/_banner.scss */
.banner .button-container {
  position: absolute;
  bottom: 20px;
  right: 60px;
  z-index: 1;
}
/* line 42, ../sass/modules/_banner.scss */
.banner .button-container button {
  height: 60px;
  width: 60px;
  background-color: rgba(128, 64, 151, 0.5);
  border: 4px solid #804097;
  border-radius: 50%;
  margin: 0 5px;
  padding: 15px;
  cursor: pointer;
}
/* line 52, ../sass/modules/_banner.scss */
.banner .button-container button img {
  height: 100%;
  width: 100%;
}
/* line 57, ../sass/modules/_banner.scss */
.banner .button-container button:hover {
  background-color: #804097;
}

/* line 1, ../sass/modules/_about.scss */
.about {
  margin-top: 30px;
  padding: 30px 60px;
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  align-items: center;
}
/* line 9, ../sass/modules/_about.scss */
.about .about-img {
  grid-column: 1/2;
}
/* line 12, ../sass/modules/_about.scss */
.about .about-img img {
  border-radius: 5px;
}
/* line 17, ../sass/modules/_about.scss */
.about .about-desc-container {
  grid-column: 3/4;
}
/* line 20, ../sass/modules/_about.scss */
.about .about-desc-container .about-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 38px;
  display: inline-block;
  width: 425px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
/* line 29, ../sass/modules/_about.scss */
.about .about-desc-container p {
  padding: 15px 0;
}
/* line 36, ../sass/modules/_about.scss */
.about .about-desc-container .p1 {
  font-size: 20px;
  color: #804097;
}
/* line 41, ../sass/modules/_about.scss */
.about .about-desc-container .p2 {
  font-size: 18px;
}
/* line 46, ../sass/modules/_about.scss */
.about .about-desc-container .button-container {
  margin: 15px 0;
}
/* line 49, ../sass/modules/_about.scss */
.about .about-desc-container .button-container .secondary-button a::after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 24px;
  margin: 5px 0 0 5px;
}

/* line 1, ../sass/modules/_services.scss */
.services {
  padding: 30px 60px;
}
/* line 4, ../sass/modules/_services.scss */
.services .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: space-between;
  margin: 25px 0 40px 0;
}
/* line 10, ../sass/modules/_services.scss */
.services .grid-wrapper .grid-card {
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
/* line 15, ../sass/modules/_services.scss */
.services .grid-wrapper .grid-card .grid-img-container {
  height: 300px;
  width: 250px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 22, ../sass/modules/_services.scss */
.services .grid-wrapper .grid-card .grid-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* line 30, ../sass/modules/_services.scss */
.services .grid-wrapper .grid-card .grid-card-label {
  font-weight: 700;
}
/* line 34, ../sass/modules/_services.scss */
.services .grid-wrapper .grid-card:hover {
  transform: translateY(-10px);
}
/* line 40, ../sass/modules/_services.scss */
.services .button-container {
  text-align: center;
}
/* line 43, ../sass/modules/_services.scss */
.services .button-container .secondary-button a::after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 24px;
  margin: 5px 0 0 5px;
}

/* line 1, ../sass/modules/_doctors.scss */
.doctors {
  padding: 30px 60px;
  text-align: center;
}
/* line 5, ../sass/modules/_doctors.scss */
.doctors .grid-wrapper {
  width: 100%;
}
/* line 9, ../sass/modules/_doctors.scss */
.doctors .grid-wrapper .grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
/* line 16, ../sass/modules/_doctors.scss */
.doctors .grid-wrapper .grid-card .grid-img-container {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
}
/* line 22, ../sass/modules/_doctors.scss */
.doctors .grid-wrapper .grid-card .grid-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease-in-out;
}
/* line 31, ../sass/modules/_doctors.scss */
.doctors .grid-wrapper .grid-card:hover {
  transform: translateY(0px);
}
/* line 34, ../sass/modules/_doctors.scss */
.doctors .grid-wrapper .grid-card:hover img {
  transform: scale(1.09);
}
/* line 40, ../sass/modules/_doctors.scss */
.doctors .grid-wrapper .grid-card .grid-card-label .doctor-name {
  font-size: 22px;
}
/* line 44, ../sass/modules/_doctors.scss */
.doctors .grid-wrapper .grid-card .grid-card-label .doctor-post {
  font-weight: 300;
  font-size: 16px;
  color: #804097;
}
/* line 53, ../sass/modules/_doctors.scss */
.doctors .button-container button {
  width: 40px;
  height: 40px;
  background: #804097;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin: 0 3px;
}
/* line 62, ../sass/modules/_doctors.scss */
.doctors .button-container button:hover {
  background-color: #623173;
}

/* line 1, ../sass/modules/_testimonials.scss */
.testimonials {
  padding: 30px 60px;
  text-align: center;
}
/* line 5, ../sass/modules/_testimonials.scss */
.testimonials .wrapper {
  margin: 40px auto 30px auto;
  width: 60%;
}
/* line 11, ../sass/modules/_testimonials.scss */
.testimonials .wrapper .content {
  margin: 15px 0;
}
/* line 14, ../sass/modules/_testimonials.scss */
.testimonials .wrapper .content::before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 48px;
  color: rgba(128, 64, 151, 0.5);
}
/* line 25, ../sass/modules/_testimonials.scss */
.testimonials .wrapper p {
  margin: 15px 0;
  line-height: 30px;
  font-size: 20px;
}
/* line 31, ../sass/modules/_testimonials.scss */
.testimonials .wrapper .name {
  color: #804097;
}
/* line 34, ../sass/modules/_testimonials.scss */
.testimonials .wrapper .name::before {
  content: "-";
  margin: 0 3px;
  font-weight: 700;
  font-size: 22px;
  color: #804097;
}
/* line 44, ../sass/modules/_testimonials.scss */
.testimonials .profile {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px auto;
}
/* line 51, ../sass/modules/_testimonials.scss */
.testimonials .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* line 59, ../sass/modules/_testimonials.scss */
.testimonials .owl-custom-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 65, ../sass/modules/_testimonials.scss */
.testimonials .owl-dot {
  margin: 0 3px;
  height: 15px;
  width: 15px;
  background-color: rgba(128, 64, 151, 0.3);
  cursor: pointer;
  border-radius: 50%;
}
/* line 74, ../sass/modules/_testimonials.scss */
.testimonials .owl-dot.active {
  height: 20px;
  width: 20px;
  background-color: #804097;
}

/* line 1, ../sass/modules/_contact.scss */
.contact {
  padding: 30px 60px;
}
/* line 4, ../sass/modules/_contact.scss */
.contact .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 50px;
  justify-items: center;
}
/* line 10, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form {
  grid-column: 3/4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
}
/* line 17, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .input-grp {
  width: calc(50% - 15px);
  margin-bottom: 20px;
  position: relative;
}
/* line 22, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .input-grp label,
.contact .wrapper .contact-form .input-grp input {
  display: block;
}
/* line 27, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .input-grp input,
.contact .wrapper .contact-form .input-grp textarea {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  margin-top: 5px;
  width: 100%;
  height: 45px;
  padding: 0 10px;
  font-size: 18px;
  border: 1px solid #804097;
  border-radius: 3px;
  background: transparent;
}
/* line 39, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .input-grp.textarea {
  width: 100%;
}
/* line 42, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .input-grp.textarea textarea {
  height: 150px;
  resize: none;
  padding: 10px;
}
/* line 49, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .input-grp span {
  width: 100%;
  height: 45px;
}
/* line 53, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .input-grp span input {
  padding-right: 35px;
}
/* line 57, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .input-grp span:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #804097;
  font-size: 20px;
  position: absolute;
  top: calc(50% + 3px);
  right: 10px;
}
/* line 67, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .input-grp span.first-name::after, .contact .wrapper .contact-form .input-grp span.last-name::after {
  content: "\f007";
}
/* line 72, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .input-grp span.email::after {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
}
/* line 76, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .input-grp span.contact-no::after {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
}
/* line 84, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 90, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .button-container button {
  width: 30%;
  padding: 10px 0;
}
/* line 95, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .button-container a {
  color: #804097;
}
/* line 98, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .button-container a:hover {
  color: #623173;
}
/* line 101, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .button-container a:hover::after {
  margin: 0 0 0 10px;
}
/* line 106, ../sass/modules/_contact.scss */
.contact .wrapper .contact-form .button-container a:after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin: 0 5px;
  transition: margin 0.3s ease-in-out;
}
/* line 117, ../sass/modules/_contact.scss */
.contact .wrapper .contact-info {
  background-color: #eee;
}

/* line 1, ../sass/modules/_footer.scss */
footer {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  margin-top: 30px;
  background-color: #35366a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
/* line 14, ../sass/modules/_footer.scss */
footer a {
  color: #fff;
}
/* line 16, ../sass/modules/_footer.scss */
footer a:hover {
  color: #fff;
  text-decoration: underline;
}
/* line 22, ../sass/modules/_footer.scss */
footer .page-nav {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 30px;
  width: 60%;
}
/* line 31, ../sass/modules/_footer.scss */
footer .page-nav li {
  padding: 0 15px;
  text-transform: capitalize;
}
/* line 37, ../sass/modules/_footer.scss */
footer .info-footer {
  padding-bottom: 30px;
}
/* line 40, ../sass/modules/_footer.scss */
footer .info-footer .company-name {
  font-size: 22px;
}
/* line 42, ../sass/modules/_footer.scss */
footer .info-footer .company-name:hover {
  text-decoration: none;
}
/* line 47, ../sass/modules/_footer.scss */
footer .info-footer .contact-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
/* line 53, ../sass/modules/_footer.scss */
footer .info-footer .contact-footer li {
  padding: 0 15px;
  font-size: 16px;
}
/* line 57, ../sass/modules/_footer.scss */
footer .info-footer .contact-footer li:last-child, footer .info-footer .contact-footer li:nth-child(2) {
  border-left: 1px solid #fff;
}
/* line 62, ../sass/modules/_footer.scss */
footer .info-footer .contact-footer li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 14px;
  margin-right: 7px;
}
/* line 69, ../sass/modules/_footer.scss */
footer .info-footer .contact-footer li.footer-email:before {
  content: "\f0e0";
}
/* line 73, ../sass/modules/_footer.scss */
footer .info-footer .contact-footer li.footer-phone:before {
  content: "\f879";
}
/* line 77, ../sass/modules/_footer.scss */
footer .info-footer .contact-footer li.footer-location:before {
  content: "\f3c5";
}
/* line 83, ../sass/modules/_footer.scss */
footer .info-footer .opening-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
/* line 89, ../sass/modules/_footer.scss */
footer .info-footer .opening-info .footer-opening-hrs {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  margin-right: 15px;
}
/* line 94, ../sass/modules/_footer.scss */
footer .info-footer .opening-info .opening-time {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
/* line 98, ../sass/modules/_footer.scss */
footer .info-footer .opening-info .opening-time span {
  padding: 0 5px;
}
/* line 104, ../sass/modules/_footer.scss */
footer .info-footer .footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  width: auto;
  margin-right: 7px;
}
/* line 111, ../sass/modules/_footer.scss */
footer .info-footer .footer-socials li {
  padding: 0 10px;
}
/* line 117, ../sass/modules/_footer.scss */
footer .info-footer .footer-socials li i.fa-facebook:hover {
  color: #3b5998;
}
/* line 121, ../sass/modules/_footer.scss */
footer .info-footer .footer-socials li i.fa-twitter:hover {
  color: #00acee;
}
/* line 125, ../sass/modules/_footer.scss */
footer .info-footer .footer-socials li i.fa-instagram:hover {
  color: #333;
}
/* line 129, ../sass/modules/_footer.scss */
footer .info-footer .footer-socials li i.fa-linkedin:hover {
  color: #0e76a8;
}
/* line 137, ../sass/modules/_footer.scss */
footer .copy-right {
  padding: 20px 0;
  text-align: center;
  width: 100%;
  background: #242548;
  font-size: 14px;
}
